@model IEnumerable<CentricProject_Team10.Models.userData>

@{
    ViewBag.Title = "Index";
}

<h2>Employees on Record</h2>



<table class="table" style="background-color:lightgray;">
    <tr>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Office Location
        </th>
        <th>
            Position Description
        </th>
        <th>
            First Day of Employement 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officeLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td style="color:orange">           
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })            
        </td>
    </tr>
}

</table>
