@model IEnumerable<CentricProject_Team10.Models.userData>

@{
    ViewBag.Title = "Index";
}

<h2>Employees on Record</h2>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-9">
            @using (Html.BeginForm("Index", "userDataController", FormMethod.Get))
            {
                <p>
                    Find by name: @Html.TextBox("searchString")
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Create New", "Create")
        </div>
    </div>
</div>

<table class="table" style="background-color:lightgray;">
    <tr>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Office Location
        </th>
        <th>
            Position Description
        </th>
        <th>
            First Day of Employement
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.officeLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td style="color:black">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { style = "color:orange;" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { style = "color:orange;" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { style = "color:orange;" })
            </td>
        </tr>
    }

</table>
