@model CentricProject_Team10.Models.coreValues

@{
    ViewBag.Title = "Delete Core Value";
}

<h2>Delete Core Value</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valueDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valueDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
