@model IEnumerable<CentricProject_Team10.Models.coreValues>

@{
    ViewBag.Title = "Core Value Index";
}

<h2>Core Value Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valueDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.valueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valueDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.valueID }) |
                @Html.ActionLink("Details", "Details", new { id = item.valueID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.valueID })
            </td>
        <style>
        tr:nth-child(even) {
            background-color: whitesmoke;
        }

        tr:nth-child(odd) {
            background-color: snow;
        }
        </style>
    </tr>
}

</table>
